@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-outfit), sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a; /* neutral-950 */
    --foreground: #fafafa; /* neutral-50 */
  }
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background: #0a0a0a; /* neutral-950 */
  color: #fafafa;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}
.animate-scroll {
  animation: scroll var(--animation-duration, 40s) var(--animation-direction, forwards) linear infinite;
}

/* Custom Scrollbar for Tabs Content */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(23, 23, 23, 0.5); /* neutral-900 */
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(64, 64, 64, 0.8); /* neutral-700 */
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(82, 82, 82, 1); /* neutral-600 */
}

/* Hide scrollbar for horizontal mobile swiping */
.no-visible-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.no-visible-scrollbar::-webkit-scrollbar {
  display: none; /* WebKit */
}
